.footerSection {
  padding: 80px 40px;
  background: var(--halberd-analogous-900);
  position: relative;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  z-index: 2;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 2rem;
  margin-bottom: 2rem;
}

.copyright {
    font-family: var(--font-matteo);
    color: white;
    margin-bottom: 1rem;
}

.socialLinks {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 0%;
}

.columnHeader {
    font-family: var(--font-matteo);
    color: white;
    display: block;
    margin-bottom: 1rem;
}

.footerLink {
    font-family: var(--font-matteo);
    color: white;
    display: block;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .copyright {
        margin-bottom: 1rem;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        gap: 1rem;
    }

    .grid > :first-child {
    grid-column: 1 / -1;
  }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}